@mixin form-el {
  background-color: $field-state-normal-bg;
  border: 1px solid $field-state-normal-border;
  border-radius: $field-border-radius;

  font-size: $field-font-size;
  line-height: $field-line-height;
  color: $field-color;

  display: block;
  padding: $field-padding-vertical $field-padding-horizontal;
  width: 100%;

  transition: background-color $transition-state-duration,
    border-color $transition-state-duration,
    color $transition-state-duration;

  &:focus {
    background-color: $field-state-focus-bg;
    border-color: $field-state-focus-border;
    color: $field-state-focus-color;
  }

  &:disabled {
    background-color: $field-state-disabled-bg;
    border-color: $field-state-disabled-border;
    color: $field-state-disabled-color;
  }
}

input,
textarea {
  outline: none !important;
}

.form-label {
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  line-height: $label-line-height;
  color: $label-color;

  &.form-label-light {
    color: $label-color-light;
  }
}

.form-row {
  @include clearfix;

  + .form-row {
    margin-top: $form-margin;
  }

  > .form-label,
  > .form-col {
    min-width: $field-min-width;
    float: left;
    position: relative;

    + .form-label,
    + .form-col {
      margin-left: $form-margin;
    }
  }

  > .form-label {
    font-size: $label-font-size;
    line-height: $label-line-height;
    color: $label-color;
    text-align: right;

    padding: $label-padding-vertical 0;
  }

  > .form-col {
    > .form-label {
      display: block;
      margin-bottom: 7px;
    }
  }
}

.form-el {
  @include form-el;

  &:-webkit-input-placeholder {
    color: $field-placeholder;
  }
  &:-moz-placeholder {
    color: $field-placeholder;
  }
  &::-moz-placeholder {
    color: $field-placeholder;
  }
  &:-ms-input-placeholder {
    color: $field-placeholder;
  }
}

.form-message {
  font-size: $form-message-font-size;
  line-height: $form-message-line-height;
  max-height: $form-message-font-size * $form-message-line-height * 2;
  overflow: hidden;

  &.form-message-error {
    color: $form-message-error-color;
  }
}

.form-has-error {
  .form-el {
    background-color: $field-state-error-bg;
    border-color: $field-state-error-border;
    color: $field-state-error-color;
  }

  .form-message {
    color: $form-message-error-color;
  }
}


// Autocomplete widget
.ui-autocomplete-input {
  &.ui-autocomplete-opened {
    border-radius: $field-border-radius $field-border-radius 0 0;
  }
}
.ui-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: $z-index-dropdown;

  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-top: none;
  border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
  list-style: none;
  cursor: default;

  .ui-menu-item {
    font-size: $dropdown-item-font-size;
    line-height: $dropdown-item-line-height;
    padding: $dropdown-item-padding-vertical $dropdown-item-padding-horizontal;
    cursor: pointer;
    transition: background-color $transition-state-duration, color $transition-state-duration;

    &:before {
      content: '';
      display: none;
    }

    &.ui-state-focus {
      background-color: $dropdown-item-state-hover-bg;
      color: $dropdown-item-state-hover-color;
    }

    + .ui-menu-item {
      border-top: 1px solid $dropdown-item-border;
    }

    strong {
      font-weight: 600;
      display: block;
    }

    .ui-state-highlight {
      font-weight: 600;
    }
  }
}


// Selectmenu widget
.ui-selectmenu-button {
  @include form-el;
}
