h1 {
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-top: $h1-font-size * $h1-line-height;
  margin-bottom: $h1-font-size * $h1-line-height * .4634;
}

h2 {
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-top: $h2-font-size * $h2-line-height;
  margin-bottom: $h2-font-size * $h2-line-height * .3333;
}

p {
  margin-top: 0;
  margin-bottom: $font-size-main * $line-height-main * .8;
}

blockquote {
  background-color: $blockquote-bg;
  border-left: 3px solid $blockquote-border;
  border-radius: $border-radius-main;
  padding: 30px 29px 19px;
  margin: 0 0 38px;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $blockquote-title-font-weight;
    font-size: $blockquote-title-font-size;
    line-height: $blockquote-title-line-height;
    color: $blockquote-title-color;
    margin-top: 0;
    margin-bottom: $blockquote-title-font-size * $blockquote-title-line-height * .3333;
  }

  p {
    color: $blockquote-text-color;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ol,
ul {
  list-style: none;
  font-size: $list-font-size;
  line-height: $list-line-height;
  margin-top: 0;
  margin-bottom: $list-font-size * $list-line-height * 1.2;
  padding: 0;
}
ol {
  counter-reset: item;

  li {
    &:before {
      counter-increment: item;
      content: counter(item) '.';
      margin-right: 14px;
    }
  }
}
ul {
  li {
    &:before {
      content: '•';
      margin-right: 20px;
    }
  }
}

pre,
code {
  font-family: $font-family-monospace;
}
pre {
  &.code-line-numbers {
    border: 1px solid $pre-border;
    border-radius: $pre-border-radius;
    position: relative;
    padding: $pre-padding-vertical $pre-padding-horizontal $pre-padding-vertical ($pre-code-line-numbers-width + $pre-padding-horizontal);
    counter-reset: linenumber;

    > code {
      position: relative;
    }

    .code-line-numbers-rows {
      background-color: $pre-code-line-numbers-bg;
      border-right: 1px solid $pre-border;
      position: absolute;
      pointer-events: none;
      top: 0;
      font-size: 100%;
      left: 0;
      padding: $pre-padding-vertical 0;
      width: $pre-code-line-numbers-width;

      user-select: none;

      > span {
        pointer-events: none;
        display: block;

        &:before {
          counter-increment: linenumber;
          content: counter(linenumber);
          color: $pre-code-line-numbers-color;
          display: block;
          text-align: center;
        }
      }
    }
  }
}
