// Common
// ==========
$bg-main:                   #fff;
$border-radius-main:        3px;
$transition-state-duration: .1s;


// States
// ==========
$state-hover-bg:        #FFF6D8;
$state-hover-border:    #F5A623;
$state-hover-color:     #765B00;
$state-focus-bg:        #F6FAFF;
$state-focus-border:    #1E7FF0;
$state-focus-color:     #1E7FF0;
$state-disabled-bg:     #F0F3F6;
$state-disabled-border: #CED7DF;
$state-disabled-color:  #AAB7C4;
$state-error-bg:        #FFEFF1;
$state-error-border:    #D0021B;
$state-error-color:     #D0021B;



// Z-indexes
// ==========
$z-index-dropdown: 1;


// Typography
// ==========
$font-weight-main:               400;
$font-family-main:               'Open Sans', sans-serif;
$font-family-monospace:          'Courier', monospace;
$font-size-main:                 14px;
$line-height-main:               2.14285714285714;
$color-main:                     #324256;
$h1-font-size:                   30px;
$h1-font-weight:                 400;
$h1-line-height:                 1.36666666666667;
$h2-font-size:                   16px;
$h2-font-weight:                 600;
$h2-line-height:                 1.875;
$blockquote-bg:                  #F0F6FB;
$blockquote-border:              #1E7FF0;
$blockquote-title-font-weight:   600;
$blockquote-title-font-size:     $font-size-main;
$blockquote-title-line-height:   $line-height-main;
$blockquote-title-color:         #1E7FF0;
$blockquote-text-color:          #476486;
$list-font-size:                 13px;
$list-line-height:               1.92307692307692;
$pre-border-radius:              $border-radius-main;
$pre-border:                     #CED7DF;
$pre-font-family:                $font-family-monospace;
$pre-font-size:                  12px;
$pre-line-height:                1.41666666666667;
$pre-padding-vertical:           15px;
$pre-padding-horizontal:         22px;
$pre-code-line-numbers-bg:       #FBFBFC;
$pre-code-line-numbers-color:    #90A5BF;
$pre-code-line-numbers-width:    44px;


// Forms
// ==========
$form-margin:                    35px;
$field-border-radius:            $border-radius-main;
$field-font-size:                $font-size-main;
$field-line-height:              1.28571428571429;
$field-color:                    $color-main;
$field-padding-vertical:         13px;
$field-padding-horizontal:       16px;
$field-min-width:                318px;
$field-placeholder:              #A7B5C2;
$field-state-normal-bg:          #FFF;
$field-state-normal-border:      #CED7DF;
$field-state-normal-color:       #324256;
$field-state-focus-bg:           $state-focus-bg;
$field-state-focus-border:       $state-focus-border;
$field-state-focus-color:        $state-focus-color;
$field-state-disabled-bg:        $state-disabled-bg;
$field-state-disabled-border:    $state-disabled-border;
$field-state-disabled-color:     $state-disabled-color;
$field-state-error-bg:           $state-error-bg;
$field-state-error-border:       $state-error-border;
$field-state-error-color:        $state-error-color;
$label-font-weight:              600;
$label-font-size:                $font-size-main;
$label-line-height:              $field-line-height;
$label-color:                    $color-main;
$label-color-light:              #A8B6C3;
$label-padding-vertical:         $field-padding-vertical + 1;
$form-message-font-size:         11px;
$form-message-line-height:       1.36363636363636;
$form-message-error-color:       $field-state-error-color;


// Widgets
// ==========
$dropdown-bg:                      $bg-main;
$dropdown-border:                  #90A5BF;
$dropdown-border-radius:           $border-radius-main;
$dropdown-item-border:             $field-state-normal-border;
$dropdown-item-font-size:          $font-size-main;
$dropdown-item-line-height:        1.35714285714286;
$dropdown-item-padding-vertical:   $field-padding-vertical;
$dropdown-item-padding-horizontal: $field-padding-horizontal;
$dropdown-item-state-hover-bg:     $state-hover-bg;
$dropdown-item-state-hover-color:  $state-hover-color;
